.button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.topbar {
    height:100px;
    background:#294F6D;
    margin: 10px;
}

.action {
    height:150px;
    background:#294F6D;
    margin: 10px;
}

.midsection {
    height:500px;
    margin: 10px;
}

.gamescreen {
    background: #3B99E2;
    height:500px;
    border-width: 10px;
}

.menu {
    background:#316D9B;
    height:500px;
    border-width: 10px;
}
  
  body {
    background-image: url("https://www.desktopbackground.org/p/2010/09/05/74986_2d-game-backgrounds_1380x820_h.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  div.box {
    background-color: #ffffff;
    opacity: 0.6;
  }

  .border {
      border-width:5px;
  }

  .status, .level, .turns {
      font-size:20px;
      font-weight:bold;
      color:greenyellow;
      margin:10px;
  }

  .classIcon {
      height:200px;
      width:170px;
      padding:10px;
      margin:10px;
      margin-top:100px;
      background-color: white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      float:left;

  }

  .icon {
      height:150px;
      width:150px;
  }

  .title {
      text-align:center;
      padding-top:10px;
      font-family: 'Galada', cursive;
      font-size: 20px;
      color: rgb(158, 110, 48);
  }

  #chooseText {
      text-align:center;
      padding-top:400px;
      font-family: 'Galada', cursive;
      font-size: 35px;
  }

  .iconSmall {
      height: 90px;
      width: 90px;
      padding-top:6px;
  }

  .intro {
    font-family: 'Galada', cursive;
    font-size: 25px;
  }

  .begin {
    margin: 10px 0 0 260px;
  }

  .menubox {
    margin-bottom: 30px;
  } 

  .gamebg {
    height:497px;
    width:110%;
    position: relative;
    right:14px;
  }

  div.block1 {
      border-color:black;
      border-width:5px;
      border-style:solid;
      height:60px;
      width:60px;
      z-index: inherit 1;;
      position: relative;
      bottom:180px;
      left:90px;
  }

  div.block2 {
    border-color:black;
    border-width:5px;
    border-style:solid;
    height:60px;
    width:60px;
    z-index: inherit 1;;
    position: relative;
    bottom:240px;
    left:190px;
}

div.block3 {
    border-color:black;
    border-width:5px;
    border-style:solid;
    height:60px;
    width:60px;
    z-index: inherit 1;;
    position: relative;
    bottom:300px;
    left:290px;
}

div.block4 {
    border-color:black;
    border-width:5px;
    border-style:solid;
    height:60px;
    width:60px;
    z-index: inherit 1;;
    position: relative;
    bottom:360px;
    left:390px;
}

div.block5 {
    border-color:black;
    border-width:5px;
    border-style:solid;
    height:60px;
    width:60px;
    z-index: inherit 1;;
    position: relative;
    bottom:420px;
    left:490px;
}

div.block6 {
    border-color:black;
    border-width:5px;
    border-style:solid;
    height:60px;
    width:60px;
    z-index: inherit 1;;
    position: relative;
    bottom:480px;
    left:590px;
}

div.block7 {
    border-color:black;
    border-width:5px;
    border-style:solid;
    height:60px;
    width:60px;
    z-index: inherit 1;;
    position: relative;
    bottom:640px;
    left:590px;
}

div.block8 {
    border-color:black;
    border-width:5px;
    border-style:solid;
    height:60px;
    width:60px;
    z-index: inherit 1;;
    position: relative;
    bottom:700px;
    left:450px;
}

div.block9 {
    border-color:black;
    border-width:5px;
    border-style:solid;
    height:60px;
    width:60px;
    z-index: inherit 1;;
    position: relative;
    bottom:860px;
    left:450px;
}

.iconSmaller {
    height:50px;
    width:50px;
    padding:none;
    background-color:wheat;
}

.skills {
    border-width:5px;
    border-style:double;
    border-color:white;
    height:150px;
    width:100%;
    padding-left:35px;
}

.skill {
    border-width:5px;
    border-style:solid;
    border-color:#3B99E2;
    height:100px;
    width:100px;
    float:left;
    margin:4px;
    margin-top:20px;
    font-size:20px;
    font-weight:bold;
    color:white;
    padding-left:5px;
}

.items {
    border-width:3px;
    border-style:solid;
    border-color:blanchedalmond;
    height:50px;
    width:50px;
    float:left;
    margin:1px;
    font-size:10px;
    font-weight:bold;
    color:white;
}

.consumable {
    padding-top:20px;
}

